html {
    font-size: 100%;
    width: fit-content;
    font-family: 'Press Start 2P';
    height: fit-content;}

body {
    height: 100%;
    width: 100%;
}
    
.header{
    text-align: center;
    /* font-family: 'Press Start 2P'; */
    font-size: 1.5rem;
    color: rgb(95, 25, 160);
    text-shadow: 7px 5px 12px rgba(0,0,0,0.5);
}

.results{
    /* text-align: center; */
    font-family: 'Press Start 2P';
    /* font-size: 1.5rem; */
    /* color: rgb(95, 25, 160); */
    /* text-shadow: 7px 5px 12px rgba(0,0,0,0.5); */
}

.grid{
    width: 30rem;
    height: 30rem;
    border: solid black 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: midnightblue;
    background-image: url("image/png/Background/starBackground.png");
    margin: 0 auto;
    touch-action: manipulation;
}

.grid div{
    width: 2rem;
    height: 2rem;
}

.invader {
    /* background-color: magenta;
    border-radius: 10px; */
    background-image: url("image/png/enemyShip.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.shooter{
    /* background-color: red; */
    background-image: url("image/png/player.png");
    background-size: contain;
}

.laser{
    /* background-color:orange; */
    background-image: url("image/png/laserRed.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.boom{
    /* background-color:yellow;
    border: solid orange; */
    background-image: url("image/png/laserRedShot.png");
    background-size: contain;
}

.menu{
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
}

.menu div{
    height: 6rem;
    width: 6rem;
    border: outset 0.8rem maroon;
    text-align: center;
    background-color: brown;
    line-height: 3rem;
    margin-right: 0.75rem;
    border-radius: 10%;
}

.menu div:hover {
    background: lightsalmon;
}

.menu div:active{
    transform: translate(0.5rem, 0.2rem) ;
    background-color: darkred;
}


.footer{
    text-align: right;
}

/* button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: salmon;
    border: none;
  } */